<!DOCTYPE html>

html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title #{nombrePagina}
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
        link(rel="stylesheet" , href="/css/app.css")
        link(rel="stylesheet" , href="/css/normalize.css")

    body
        header.barra
            h1 UpTask - Administrador de proyectos #{years}
            a(href="#") Cerrar sesión

        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/nuevo-proyecto" class="boton") New proyect
                        span +
                .panel.lista-proyectos
                    h2 Proyect
                    ul#proyectos.proyectos
                        if(proyectos.length)
                            each proyecto in proyectos
                                li
                                    a(href=`/proyectos/${proyecto.url}`)=proyecto.name
            block contenido
            //pre=vardump(proyectos)

        script(src="/dist/bundle.js")